service: charging-map

plugins:
  - serverless-localstack

custom:
  localstack:
    stages:
      - dev
    host: http://localhost
    edgePort: 4566
    autostart: false
    lambda:
      mountCode: false
    docker:
      sudo: false

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  environment:
    CHARGERS_TABLE: ${self:service}-chargers-${self:provider.stage}
    OCM_API_KEY: 'aea75c5e-32c1-472f-999e-f012e928680f'
    #USER_POOL_ID: !Ref CognitoUserPool
    #USER_POOL_CLIENT_ID: !Ref CognitoUserPoolClient
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:BatchWriteItem
          Resource:
            - Fn::GetAtt: [ChargersTable, Arn]
            - Fn::Join:
              - "/"
              - - Fn::GetAtt: [ChargersTable, Arn]
                - "index/*"
        - Effect: Allow
          Action:
            - cognito-idp:AdminInitiateAuth
            - cognito-idp:AdminCreateUser
            - cognito-idp:AdminSetUserPassword
            - cognito-idp:SignUp
            - cognito-idp:InitiateAuth
            - cognito-idp:GetUser
            - cognito-idp:GlobalSignOut
            - cognito-idp:AdminGetUser
          Resource: "*"
            #- Fn::GetAtt: [CognitoUserPool, Arn]
        - Effect: Allow
          Action:
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
          Resource: "*"

functions:
  syncOCMData:
    handler: functions/syncOCMData.handler
    description: Sync chargers from Open Charge Map API
    timeout: 300
    events:
      - http:
          path: sync
          method: get
          cors: true

  getChargers:
    handler: functions/getChargers.handler
    description: Get all chargers with optional filtering
    timeout: 30
    events:
      - http:
          path: chargers
          method: get
          cors: true

  getChargerById:
    handler: functions/getChargerById.handler
    description: Get charger details by ID
    timeout: 30
    events:
      - http:
          path: chargers/{id}
          method: get
          cors: true

  searchChargers:
    handler: functions/searchChargers.handler
    description: Search chargers by various criteria
    timeout: 30
    events:
      - http:
          path: search
          method: get
          cors: true

  login:
    handler: functions/auth/login.handler
    description: User login with cognito 
    timeout: 30
    environment:
      USER_POOL_ID:
        Ref: CognitoUserPool
      USER_POOL_CLIENT_ID:
        Ref: CognitoUserPoolClient
    events:
      - http:
          path: auth/login
          method: post
          cors: true
    
  register:
    handler: functions/auth/register.handler
    description: User register with Coginto 
    timeout: 30
    environment:
      USER_POOL_ID:
        Ref: CognitoUserPool
      USER_POOL_CLIENT_ID:
        Ref: CognitoUserPoolClient
    events:
      - http:
          path: auth/register
          method: post
          cors: true
    
  verifyToken:
    handler: functions/auth/verifyToken.handler
    description: Verify JWT token 
    timeout: 10
    environment:
      USER_POOL_ID:
        Ref: CognitoUserPool
      USER_POOL_CLIENT_ID:
        Ref: CognitoUserPoolClient
    events:
      - http:
          path: auth/verify
          method: post
          cors: true

  logout:
    handler: functions/auth/logout.handler
    description: User logout
    timeout: 10
    events:
      - http:
          path: auth/logout
          method: post
          cors: true

resources:
  Resources:
    ChargersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.CHARGERS_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: chargeId
            AttributeType: S
          - AttributeName: town
            AttributeType: S
          - AttributeName: powerKW
            AttributeType: N
        KeySchema:
          - AttributeName: chargeId
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: TownIndex
            KeySchema:
              - AttributeName: town
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: PowerIndex
            KeySchema:
              - AttributeName: powerKW
                KeyType: HASH
            Projection:
              ProjectionType: ALL
    
    GatewayResponseDefault4XX:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_4XX
        RestApiId:
          Ref: ApiGatewayRestApi
    
    GatewayResponseDefault5XX:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_5XX
        RestApiId:
          Ref: ApiGatewayRestApi
      
    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: charging-map-users-${self:provider.stage}
        AutoVerifiedAttributes:
          - email
        UsernameAttributes:
          - email
        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireUppercase: true
            RequireLowercase: true
            RequireNumbers: true
            RequireSymbols: false
        Schema:
          - Name: email
            AttributeDataType: String
            Required: true
            Mutable: false
          - Name: name
            AttributeDataType: String
            Required: false
            Mutable: true
        EmailConfiguration:
          EmailSendingAccount: COGNITO_DEFAULT
    
    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: charging-map-client-${self:provider.stage}
        UserPoolId:
          Ref: CognitoUserPool
        ExplicitAuthFlows:
          - ALLOW_USER_PASSWORD_AUTH
          - ALLOW_REFRESH_TOKEN_AUTH
        GenerateSecret: false
        PreventUserExistenceErrors: ENABLED

  Outputs:
    ApiGatewayUrl:
      Description: API Gateway endpoint URL
      Value:
        Fn::Sub: https://${ApiGatewayRestApi}.execute-api.${AWS::Region}.amazonaws.com/${self:provider.stage}
    
    ChargersTableName:
      Description: DynamoDB table name
      Value:
        Ref: ChargersTable

    UserPoolId:
        Description: Cognito User Pool ID
        Value:
          Ref: CognitoUserPool
        Export:
          Name: ${self:service}-${self:provider.stage}-UserPoolId

    UserPoolClientId:
        Description: Cognito User Pool Client ID
        Value:
          Ref: CognitoUserPoolClient
        Export:
          Name: ${self:service}-${self:provider.stage}-UserPoolClientId